/* Main */
html {
  background-color: #22282D;
  visibility: hidden;
}
#body_container {
  min-height: calc(100vh - 2em); /* you have to minus header and footer width */
}
#main_container {
  max-width: 90em;
  min-width: 57em;
  padding-top: 0.3em;
  margin: auto;
  line-height: 1.2em; 
}

/* Header */
#change_lang_div {
  width: 20%;
  margin: auto;
  float: left;
  padding-left: 2.5em;
  color: #dfdfdf;
  text-align: left;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}
.lang_select_on {
  font-weight: bold;
}
.lang_select_off {
  cursor: pointer;
  text-decoration: underline;
}
#last_updated_div {
  width: 20%;
  margin: auto;
  float: right;
  padding-right: 2.5em;
  color: #dfdfdf;
  text-align: right;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

/* Title */
#title {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: auto;
  width: 100%;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  text-align: center;
}

/* Filters */
.filter_div {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: auto;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.95em;
}
#filter_container {
  display: flow-root;
}
#filter_members {
  float: left;
  text-align: left;
  width: 50%;
  padding-left: 2em;
}
#filter_links {
  float: right;
  text-align: right;
  width: 40%;
  padding-right: 2em;
}
input {
  transform: scale(1.3);
}

/* Separator */
.separator {
  width: 95%;
  margin-top: 0.75em;
  margin-bottom: 1em;
  color: #474747;
  border-color: #474747;
  border-style: solid;
}
.horizontal_separator {
  color: #474747;
}

/* Legend */
#legend_container {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #dfdfdf;
  text-align: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.95em;
}
.box {
  position: relative;
  margin-left: 6em;
  --color: black;
}
.box:before {
  position: absolute;
  left: -1.7em;
  content: "";
  height: 1.1em;
  width: 1.1em;
  margin-bottom: 0.75em;
  border: 1px solid #474747;
  background-color: var(--color);
}

/* Chart */
#container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.info_tooltip {
  text-align: left;
  min-width: 18em; /* for loading images */
  max-width: 20em;
}
.fields_container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20em;
}

/* Info details */
#elem_info_container {
  display: flow-root;
  padding-left: 1.5em;
  padding-bottom: 1em;
}
#elem_date {
  padding-top: 0.5em;
  padding-bottom: 1em;
  margin: auto;
  width: 100%;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
}
.info_elem {
  float: left;
  color: #dfdfdf;
  min-width: 10em;
  max-width: 20em;
  background-color: #2d333b;
  border-radius: 0.5em;
  padding: 0.7em 0.7em;
  margin: 0.25em;
}
img {
  display: inline-block;
  max-width: 18em;
  height: 10em;
  width: auto;
  border-radius: 0.3em;
  margin-bottom: 0.3em;
  box-shadow: 0px 0px 3px #000;
}
.out_link:link, .out_link:visited {
  color: #dfdfdf;
}

/* Footer */
#footer {
  margin-top: 0; /* take available whitespace */
  height: 1em; /* calc height when limited content */
  text-align: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.75em;
}
#email_link:link, #email_link:visited {
  color: #474747;
}

