/* Main */
html {
  background-color: #22282D;
  visibility: hidden;
}
#body_container {
  min-height: calc(100vh - 2em); /* you have to minus header and footer width */
}
#main_container {
  max-width: 90em;
  padding-top: 0.3em;
  margin: auto;
  line-height: 1.2em; 
}

/* Header */
#header_container, #pages_container {
  display: flow-root;
  margin-bottom: 0.4em;
}
#change_lang_div, #prev_page_div, #email_div {
  width: 20%;
  margin: auto;
  float: left;
  margin-left: 1em;
  color: #dfdfdf;
  text-align: left;
  font-family: Verdana, Helvetica, Arial, sans-serif, Dotum;
  font-size: 0.8em;
}
.lang_select_on {
  font-weight: bold;
}
.lang_select_off, .page_clickable {
  cursor: pointer;
  text-decoration: underline;
}
#qwerflix_div, #next_page_div, #last_updated_div {
  width: 70%;
  margin: auto;
  float: right;
  margin-right: 1em;
  color: #dfdfdf;
  text-align: right;
  font-family: Verdana, Helvetica, Arial, sans-serif, Dotum;
  font-size: 0.8em;
}

/* Title */
#title {
  margin-top: 1em;
  margin-bottom: 1.8em;
  width: 100%;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif, Dotum;
  font-size: 1.5em;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #title {
    margin-top: 1.5em;
    margin-bottom: 1.3em;
  }
}

/* Filters */
.filter_container {
  display: flow-root;
}
.filter_div {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif, Dotum;
  font-size: 0.9em;
}
#members_prefix {
  display: default;
  vertical-align: middle;
}
#filter_members, #filter_platform, #filter_account, #filter_other {
  float: left;
  text-align: left;
  width: auto;
  margin-left: 1em;
}
#links_prefix {
  display: default;
  vertical-align: middle;
}
#filter_links {
  float: right;
  text-align: right;
  width: auto;
  margin-right: 1em;
  margin-left: auto;
}
label {
  display: default;
  vertical-align: middle;
}
input {
  vertical-align: middle;
  transform: scale(1.3);
}
@media only screen and (max-width: 768px) {
  #filter_links {
    float: none;
    text-align: left;
    margin-top: 0.8em;
    margin-right: auto;
    margin-left: 1em;
  }
  #filter_members {
    float: none;
  }
  input {
    transform: scale(1);
  }
}

/* Separator */
.separator {
  width: 98%;
  margin-top: 0.75em;
  margin-bottom: 1em;
  color: #474747;
  border-color: #474747;
  border-style: solid;
}
.horizontal_separator {
  color: #474747;
}

/* Chart */
#container_chart {
  margin-left: 0.1em;
  margin-right: 0.1em;
  overflow-y: hidden;
  overflow-x: auto;
}
#container {
  min-width: 57em;
  margin: 0;
  padding: 0;
}
.info_tooltip {
  text-align: left;
  min-width: 18em; /* for loading images */
  max-width: 20em;
}
.fields_container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20em;
}

/* Info details */
#elem_info_container {
  display: flow-root;
  margin-left: 1em;
  margin-bottom: 1em;
}
#elem_date {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif, Dotum;
  font-size: 1.2em;
  text-align: center;
}
.info_elem {
  float: left;
  color: #dfdfdf;
  min-width: 10em;
  max-width: 20em;
  min-height: 18em;
  background-color: #2d333b;
  border-radius: 0.5em;
  padding: 0.7em 0.7em;
  margin: 0.25em;
  font-size: 0.9em;
  font-family: Verdana, Helvetica, Arial, sans-serif, Dotum;
}
img {
  display: inline-block;
  max-width: 18em;
  height: 10em;
  width: auto;
  border-radius: 0.3em;
  margin-bottom: 0.3em;
  box-shadow: 0px 0px 3px #000;
}
.out_link:link, .out_link:visited, #qwerflix_link, #qwerflix_link:visited {
  color: #dfdfdf;
}
/* For mobile, fixed size and vertically aligned cards */
@media only screen and (max-width: 768px) {
  #elem_info_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info_elem {
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
    width: 20em;
  }
}

/* Footer */
#footer {
  display: flow-root;
  margin-top: 0; /* take available whitespace */
  height: 1em; /* calc height when limited content */
}
#email_div {
  font-family: Verdana, Helvetica, Arial, sans-serif, Dotum;
  font-size: 0.75em;
}
#email_link:link, #email_link:visited {
  color: #696969;
}

