html {
  background-color: #22282D
}
#main_container {
  max-width: 80em;
  padding-top: 0.3em;
  margin: auto;
}
#change_lang_div {
  width: 20%;
  margin: auto;
  float: left;
  padding-left: 2.5em;
  color: #dfdfdf;
  text-align: left;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}
#last_updated_div {
  width: 20%;
  margin: auto;
  float: right;
  padding-right: 2.5em;
  color: #dfdfdf;
  text-align: right;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}
#title {
  padding-top: 1em;
  padding-bottom: 0.75em;
  margin: auto;
  width: 100%;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  text-align: center;
}
.titleQ {
  color: #e6e3d5;
}
.titleW {
  color: #fc28fc;
}
.titleE {
  color: dodgerblue;
}
.titleR {
  color: lime;
}
.filter_div {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: auto;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.95em;
}
#filter_container {
  display: flow-root;
}
#filter_members {
  float: left;
  text-align: left;
  width: 50%;
  padding-left: 2em;
}
#filter_links {
  float: right;
  text-align: right;
  width: 42%;
  padding-right: 2em;
}
.separator {
  width: 95%;
  margin-top: 0.75em;
  margin-bottom: 1em;
  color: #474747;
  border-color: #474747;
  border-style: solid;
}
#legend_container {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #dfdfdf;
  text-align: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.95em;
}
.box {
  position: relative;
  margin-left: 3em;
  --color: black;
}
.box:before {
  position: absolute;
  left: -1.7em;
  content: "";
  height: 1.1em;
  width: 1.1em;
  margin-bottom: 0.75em;
  border: 1px solid #474747;
  background-color: var(--color);
}
#container {
  width: 100%;
  margin: 0;
  padding: 0;
}
#elem_date {
  padding-top: 0.5em;
  padding-bottom: 1em;
  margin: auto;
  width: 100%;
  color: #dfdfdf;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
}
.info_tooltip {
  text-align: left;
  max-width: 22em;
}
#info_container {
  width: 100%;
  display: inline-block;
}
.info_elem {
  float: left;
  color: #dfdfdf;
  max-width: 20em;
  background-color: #2d333b;
  border-radius: 0.5em;
  padding: 0.7em 0.7em;
  margin: 0.25em;
  line-height: 1.2em; 
}
a:link, a:visited {
  color: #dfdfdf;
}
img {
  max-height: 10em;
  max-width: 20em;
  height: auto;
  width: auto;
  border-radius: 0.3em;
  margin-bottom: 0.3em;
}

